<div class="container">


  <div class="row">
    <div class="col-2 d-flex align-items-center">
      <button id="store-1" [disabled]="true">
        <div *ngFor="let item of store1">
          <div class="stone" [ngStyle]="{'background': item}"></div>
        </div>
      </button>
    </div>

    <div class="col-8" >
      <table class="table">
        <!-- begin:: player1 icon -->
        <thead class="text-center">
          <tr>
            <th>
              <div class="col-12 text-center my-3">
                <em class="fas fa-gamepad fa-5x"></em>
                <h2>Player 1</h2>
              </div>
            </th>
          </tr>
        </thead>
        <!-- end:: player1 icon -->
        <!-- begin:: board -->
        <tbody>
          <tr class="col-12 d-flex text-center" style="flex-wrap: wrap">
            <td
              class="col-2 border-0"
              *ngFor="let item of holesCount; let i = index"
            >
              <button
                class="hole-1"
                (click)="player1Clicked(i, holesCount[i].length)"
              >
                <div class="stone-layer">
                  <div *ngFor="let item of holesCount[i]">
                    <div class="stone" [ngStyle]="{ background: item }"></div>
                  </div>
                </div>
              </button>
            </td>
          </tr>
        </tbody>
        <!-- end:: board -->
        <!-- begin:: player2 icon -->
        <thead class="text-center">
          <tr>
            <th>
              <div class="col-12 text-center my-3">
                <em class="fas fa-gamepad fa-5x"></em>
                <h2>Player 1</h2>
              </div>
            </th>
          </tr>
        </thead>
        <!-- end:: player1 icon -->
      </table>

    </div>

    <div class="col-2 d-flex align-items-center">
      <button id="store-1" [disabled]="true">
        <div *ngFor="let item of store1">
          <div class="stone" [ngStyle]="{'background': item}"></div>
        </div>
      </button>
    </div>

  </div>


</div>

<!-- <div id="col-1">
  <button id="store-1" [disabled]="true">
    <div *ngFor="let item of mainService.store1">
      <div class="stone" [ngStyle]="{'background': item}"></div>
    </div>
  </button>
</div>

<div id="row-1">
  <button
    *ngFor="let item of mainService.player1Holes; let i = index"
    class="hole-1" [ngStyle]="{'box-shadow': mainService.player1 && mainService.player1Holes[(i-5) * -1].length != 0 ?  '0px 1px 6px 3px #198754' : '0px 0px 0px 0px #000'}"
    [disabled]="!mainService.player1 || mainService.player1Holes[(i-5) * -1].length == 0"
    (click)="player1Clicked((i-5) * -1 , mainService.player1Holes[(i-5) * -1].length)"
  >
    <div class="stone-layer {{mainService.player1Holes[(i-5) * -1].length > 6 ? 'p-0' : '' }}" >
      <div *ngFor="let item of mainService.player1Holes[(i-5 ) * -1]">
        <div class="stone" [ngStyle]="{'background': item}"></div>
      </div>
    </div>
  </button>
</div> -->
