<nav class="navbar navbar-expand-lg navbar-light bg-light ml-3">
  <a class="navbar-brand text-dark"><h3>MANCALA</h3></a>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active text-center">
        <a class="nav-link cursor-pointer" (click)="reset()">Reset</a>
      </li>
      <li class="nav-item active text-center cursor-pointer">
        <a class="nav-link" (click)="howToPlay()">How to Play?</a>
      </li>
    </ul>
  </div>
</nav>
