
<div class="col-12 text-center" *ngIf="isShowAlert">
  <div class="alert alert-warning" role="alert">
    <h4>Player1 is playing</h4>
  </div>
</div>
<div class="col-12 text-center my-3">
  <i class="fas fa-gamepad fa-5x {{player1 ? 'text-primary' : 'text-dark'}}"></i>
  <h2>Player 1</h2>
</div>
<div class="text-center p-10">
  <table class="table mb-0">
    <tbody>
      <tr id="board">
        <td style="width: 14%; border-bottom-width: 0 !important;">
          <div id="col-1">
            <button id="store-1" [disabled]="true">

              <div class="marker" *ngFor="let item of itemsGroup[6]">
                <div>{{item}}</div>
              </div>

            </button>
          </div>
        </td>
        <td style="border-bottom-width: 0 !important;">
          <div id="row-1">

            <button
              class="hole-1"
              [disabled]="!player1 || itemsGroup[5].length == 0"
              (click)="playerClicked(5, itemsGroup[5].length)"
            >
              <div class="marker-layer {{itemsGroup[5].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[5]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player1 || itemsGroup[4].length == 0"
              (click)="playerClicked(4, itemsGroup[4].length)"
            >
              <div class="marker-layer {{itemsGroup[4].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[4]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player1 || itemsGroup[3].length == 0"
              (click)="playerClicked(3, itemsGroup[3].length)"
            >
              <div class="marker-layer {{itemsGroup[3].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[3]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player1 || itemsGroup[2].length == 0"
              (click)="playerClicked(2, itemsGroup[2].length)"
            >
              <div class="marker-layer {{itemsGroup[2].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[2]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player1 || itemsGroup[1].length == 0"
              (click)="playerClicked(1, itemsGroup[1].length)"
            >
              <div class="marker-layer {{itemsGroup[1].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[1]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player1 || itemsGroup[0].length == 0"
              (click)="playerClicked(0, itemsGroup[0].length)"
            >
              <div class="marker-layer {{itemsGroup[0].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[0]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

          </div>

          <div id="row-2">

            <button
              class="hole-1"
              [disabled]="!player2 || itemsGroup[7].length == 0"
              (click)="playerClicked(7, itemsGroup[7].length)"
            >
              <div class="marker-layer {{itemsGroup[7].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[7]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player2 || itemsGroup[8].length == 0"
              (click)="playerClicked(8, itemsGroup[8].length)"
            >
              <div class="marker-layer {{itemsGroup[8].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[8]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player2 || itemsGroup[9].length == 0"
              (click)="playerClicked(9, itemsGroup[9].length)"
            >
              <div class="marker-layer {{itemsGroup[9].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[9]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player2 || itemsGroup[10].length == 0"
              (click)="playerClicked(10, itemsGroup[10].length)"
            >
              <div class="marker-layer {{itemsGroup[10].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[10]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player2 || itemsGroup[11].length == 0"
              (click)="playerClicked(11, itemsGroup[11].length)"
            >
              <div class="marker-layer {{itemsGroup[11].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[11]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>

            <button
              class="hole-1"
              [disabled]="!player2 || itemsGroup[12].length == 0"
              (click)="playerClicked(12, itemsGroup[12].length)"
            >
              <div class="marker-layer {{itemsGroup[12].length > 6 ? 'p-0' : '' }}">
                <div class="marker" *ngFor="let item of itemsGroup[12]">
                  <div>{{item}}</div>
                </div>
              </div>
            </button>


          </div>

        </td>
        <td style="width: 14%; border-bottom-width: 0 !important;">
          <div id="col-3">
            <button id="store-2" [disabled]="true">
              <div class="marker" *ngFor="let item of itemsGroup[13]">
                <div>{{item}}</div>
              </div>
            </button>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<div class="col-12 text-center my-3">
  <h2>Player 2</h2>
  <i class="fas fa-gamepad fa-5x {{player2 ? 'text-primary' : 'text-dark'}}"></i>
</div>


