<div class="container" style="position: relative; top: -100px">
  <!-- begin:: stores -->
  <div
    class="d-flex"
    style="justify-content: space-between; position: relative; top: 380px"
  >
    <button
      *ngFor="let item of stores; let i = index"
      id="store-1"
      [disabled]="true"
    >
      <div>
        <div class="stone-layer">
          <div *ngFor="let item of stores[i]">
            <div class="stone" [ngStyle]="{ background: item }"></div>
          </div>
        </div>
      </div>
    </button>
  </div>
  <!-- end:: stores -->

  <div class="row justify-content-center">
    <div class="col-8">
      <table class="table">
        <!-- begin:: player1 icon -->
        <thead class="text-center">
          <tr>
            <th id="board-border-0">
              <div
                class="col-12 text-center my-3 {{
                  isPlayer1 ? '' : 'opacity-25'
                }}"
              >
                <em class="fas fa-gamepad fa-5x"></em>
                <h2>Player 1</h2>
              </div>
            </th>
          </tr>
        </thead>
        <!-- end:: player1 icon -->
        <!-- begin:: board -->
        <tbody>
          <tr class="col-12 d-flex text-center" style="flex-wrap: wrap">
            <td
              class="col-2 border-0"
              *ngFor="let item of holes; let i = index"
            >
              <button
                class="hole-1"
                [ngStyle]="{
                  'box-shadow':
                    ((i < 6 && isPlayer1 ? false : true) &&
                      (i > 5 && isPlayer2 ? false : true)) ||
                    holes[i].length == 0
                      ? '0px 0px 0px 0px #000'
                      : '0px 1px 6px 3px #198754'
                }"
                (click)="playerClicked(i, i < 6 ? 5 - i : i, holes[i].length)"
                [disabled]="
                  holes[i].length == 0 ||
                  ((i < 6 && isPlayer1 ? false : true) &&
                    (i > 5 && isPlayer2 ? false : true))
                "
              >
                <div class="stone-layer {{ holes[i].length > 6 ? 'p-0' : '' }}">
                  <div *ngFor="let item of holes[i]">
                    <div class="stone {{ ((i < 6 && isPlayer1 ? false : true) &&
                      (i > 5 && isPlayer2 ? false : true)) ||
                    holes[i].length == 0
                      ? 'opacity-50'
                      : '' }}" [ngStyle]="{ background: item }"></div>
                  </div>
                </div>
              </button>
            </td>
          </tr>
        </tbody>
        <!-- end:: board -->
        <!-- begin:: player2 icon -->
        <thead class="text-center">
          <tr>
            <th id="board-border-0">
              <div
                class="col-12 text-center my-3 {{
                  isPlayer2 ? '' : 'opacity-25'
                }}"
              >
                <em class="fas fa-gamepad fa-5x"></em>
                <h2>Player 2</h2>
              </div>
            </th>
          </tr>
        </thead>
        <!-- end:: player2 icon -->
      </table>
    </div>
  </div>
</div>
