<!-- <div id="row-2">
  <button
    *ngFor="let item of mainService.player2Holes; let i = index"
    class="hole-2" [ngStyle]="{'box-shadow': mainService.player2 && mainService.player2Holes[i].length != 0 ?  '0px 1px 6px 3px #198754' : '0px 0px 0px 0px #000'}"
    [disabled]="!mainService.player2 || mainService.player2Holes[i].length == 0"
    (click)="player2Clicked(i , mainService.player2Holes[i].length)"
  >
    <div class="stone-layer {{mainService.player2Holes[i].length > 6 ? 'p-0' : '' }}">
      <div *ngFor="let item of mainService.player2Holes[i]">
        <div class="stone" [ngStyle]="{'background': item}"></div>
      </div>
    </div>
  </button>
</div>

<div id="col-3">
  <button id="store-2" [disabled]="true">
    <div *ngFor="let item of mainService.store2">
      <div class="stone" [ngStyle]="{'background': item}"></div>
    </div>
  </button>
</div> -->
