<div class="modal-content">
  <div class="modal-header bg-primary">
    <div class="modal-title h4 text-white" id="example-modal-sizes-title-lg">
      How to Play Mancala?
    </div>
    <div class="modal-title h4 float-right mt-1">
      <i
        class="fas fa-times fa-lg text-white"
        (click)="modal.dismissAll()"
        role="button"
      ></i>
    </div>
  </div>

  <div class="col-12 p-5">
    <div>
      <h4><strong>Playing:</strong></h4>
    </div>

    <br>

    <div>
      <div>
        <h5><b>Basic Rules:</b></h5>
      </div>
      <div>

        <ul>
          <li>
            Play always moves around the board in a counter-clockwise circle (to the right)
          </li>
          <li>
            The store on your right belongs to you. That is where you keep the seeds you win.
          </li>
          <li>
            The six pits near you are your pits.
          </li>
          <li>
            Only use one hand to pick up and put down seeds.
          </li>
          <li>
            Once you touch the seeds in a pit, you must move those seeds.
          </li>
          <li>
            Only put seeds in your own store, not your opponent’s store.
          </li>
        </ul>

      </div>
    </div>

    <br>

    <div>
      <div>
        <h5><b>Starting the Game:</b></h5>
      </div>
      <div>
        On a turn, a player picks up all the seeds in one pit and “sows” them to the right, placing one
        seed in each of the pits along the way. If you come to your store, then add a seed to your store
        and continue. You may end up putting seeds in your opponent’s pits along the way.
        Play alternates back and forth, with opponents picking up the seeds in one of their pits and
        distributing them one at a time into the pits on the right, beginning in the pit immediately to the
        right.
      </div>
    </div>

    <br>

    <div>
      <div>
        <h5><b>Special Rules:</b></h5>
      </div>
      <div>
        <ul>
          <li>
            When the last seed in your hand lands in your store, take another turn
          </li>
          <li>
            When the last seed in your hand lands in one of your own pits, if that pit had been empty you
            get to keep all of the seeds in your opponents pit on the opposite side. Put those captured seeds,
            as well as the last seed that you just played on your side, into the store.
          </li>
        </ul>
      </div>
    </div>

    <br>

    <div>
      <div>
        <h5><b>Ending the Game:</b></h5>
      </div>
      <div>
        The game is over when one player’s pits are completely empty. The other player takes the seeds
        remaining in her pits and puts those seeds in her store. Count up the seeds. Whoever has the most
        seeds wins.
      </div>
    </div>

  </div>


</div>
