#row-1, #row-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.hole-1, .hole-2 {
    border-radius: 50%;
    width: 115px;
    height: 115px;
    position: relative;
    margin: 10px;
    box-sizing: border-box;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/assets/img/wood-board.jpg);
    padding: 15px;
    z-index: 1;
}

.stone-layer {
  width: 100%;
  height: 100%;
  display: flex;
  padding: 15px;
  box-sizing: border-box;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 2;
}

#col-1, #col-3 {
  width: 12%;
  height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.stone {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  box-shadow: 0 3px 2px rgb(0 0 0 / 30%);
}

#store-1 .stone {
  margin: -7px;
}

#store-2 .stone {
  margin: -7px;
}

#store-1 {
  border-radius: 15%;
  min-width: 200px;
  flex-wrap: wrap;
  height: 115px;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/assets/img/wood-board.jpg);
  padding: 15px;
  display: flex;
  z-index: 1;
  right: 14rem;
  top: 8rem;
}

#store-2 {
  border-radius: 15%;
  min-width: 200px;
  flex-wrap: wrap;
  height: 115px;
  position: relative;
  margin: 10px;
  box-sizing: border-box;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../src/assets/img/wood-board.jpg);
  padding: 15px;
  display: flex;
  z-index: 1;
  left: 52rem;
  bottom: 9rem;
}

#board > div {
  height: 100%;
}

#board {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-image: url(../src/assets/img/wood-board.jpg);
  border-radius: 20px;
}

#col-2 {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
